redis:
  image: redis

server:
  build: registry-server
  environment:
    CACHE_REDIS_HOST: redis
    CACHE_REDIS_PORT: 6379
    CACHE_LRU_REDIS_HOST: redis
    CACHE_LRU_REDIS_PORT: 6379
    AWS_REGION: us-east-1
    AWS_BUCKET: docker-private-regstry
    AWS_KEY: **********************
    AWS_SECRET: ***************************************
  links:
    - redis:redis

frontend:
  build: registry-frontend
  environment:
    ENV_DOCKER_REGISTRY_HOST: docker-registry-server
    ENV_DOCKER_REGISTRY_PORT: 5000
  ports:
    - 80:80
  links:
    - server:docker-registry-server

nginx:
  build: nginx-proxy
  environment:
    NGINX_BASIC_HTPASSWD: "*******:********"
  ports:
    - 5000:5000
  links:
    - server:docker-registry-server
  
